@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  color: #333;
}

.navbar {
  height: 60px;
  width: 100%;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.navbar-brand a {
  text-decoration: none;
}

.navbar-brand h3 {
  font-size: 30px;
  font-family: 'Dancing Script', cursive;
  letter-spacing: 3px;
  color: #fff;
}

.nav-link {
  padding-right: 120px;
}
.nav-link a{
  color: #fff;
  text-decoration: none;
  padding: 0 15px;
  font-size: 20px;
}

.nav-link a:hover {
  color: blanchedalmond;
  transition: 0.3s;
}