@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  color: #333;
}

.navbar {
  height: 60px;
  width: 1300px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  margin-top: 20px;
}

.navbar-brand a {
  text-decoration: none;
}

.navbar-brand h3 {
  font-size: 30px;
  font-family: 'Dancing Script', cursive;
  letter-spacing: 3px;
  color: rgb(185, 8, 255);
  margin-left: 50px;
}
.nav-link a{
  color: #333;
  text-decoration: none;
  padding: 0 15px;
  font-size: 18px;
}

.nav-link a:nth-child(2) {
 display: inline-block;
 background-color: red;
 padding: 8px 12px;
 border-radius: 8px;
 color: #fff;
}

.nav-link a:hover {
  color: rgb(252, 199, 120);
  transition: 0.3s;
}

.content {
  margin-left: 150px;
  margin-top: 50px;
}

.blog__preview {
  margin: 20px 0;
  padding: 10px 16px;
  border-bottom: 1px solid #fafafa;
  max-width: 400px;
}
.blog__preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog__preview h2 {
  font-size: 20px; 
  color: #f1356d;
  margin-bottom: 8px;
}

.delete {
  padding: 8px 15px;
  margin: 10px 0;
}