@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  color: #333;
}

.navbar {
  height: 60px;
  width: 1300px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  margin-top: 20px;
}

.navbar-brand a {
  text-decoration: none;
}

.navbar-brand h3 {
  font-size: 30px;
  font-family: 'Dancing Script', cursive;
  letter-spacing: 3px;
  color: rgb(185, 8, 255);
  margin-left: 50px;
}
.nav-link a{
  color: #333;
  text-decoration: none;
  padding: 0 15px;
  font-size: 18px;
}

.nav-link a:nth-child(2) {
 display: inline-block;
 background-color: red;
 padding: 8px 12px;
 border-radius: 8px;
 color: #fff;
}

.nav-link a:hover {
  color: rgb(252, 199, 120);
  transition: 0.3s;
}

.content {
  margin-left: 150px;
  margin-top: 50px;
}

.blog__preview {
  margin: 20px 0;
  padding: 10px 16px;
  border-bottom: 1px solid #fafafa;
  max-width: 400px;
}
.blog__preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog__preview h2 {
  font-size: 20px; 
  color: #f1356d;
  margin-bottom: 8px;
}

.blog__preview a {
  text-decoration: none;
}

/* blog details page */
.blog__details h2{
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
 
.blog__details__body p {
  text-align: justify;
  padding-right: 50px;
  margin: 20px 0;
  line-height: 1.5;
  letter-spacing: 0.8px;
  font-size: 16px;
}

.delete__blog {
  background-color: #f1356d;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
}

/* create new blog page */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h1 {
  font-size: 25px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: none;
  border: 2px solid #ddd;
  box-sizing: border-box;
  display: block;
  font-size: 18px;
  outline: none;
  font-family: 'Quicksand', sans-serif;
}

.create button {
background-color: red;
 padding: 8px 12px;
 border-radius: 8px;
 color: #fff;
 cursor: pointer;
 border: 0;
 outline: none;
 font-size: 17px;
 margin-top: 20px;
 margin-bottom: 50px;
}
.create button i {
 margin: 2px;
}

/* Not found page  */
.not__found {
 text-align: center;
}
.not__found h2 {
 margin-bottom: 20px;
 color: #f1356d;
 letter-spacing: 0.8px;
}
.not__found p {
  margin-bottom: 10px;
  letter-spacing: 0.8px;
}
.not__found a {
  text-decoration: none;
  color: red;
}